.side-panel {
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &.panel-open {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .side-panel {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .side-panel {
    width: var(--panel-width);
  }
}