:host {
  display: block;
  height: 100%;
  width: 100%;
}

.panel-wrapper {
  width: 0; // Starts with 0 width
  transition: width 0.3s ease-in-out;

  &.is-open {
    width: var(--panel-width); // If open, goes to its full size

    @media (max-width: 767px) { // If on mobile, goes full screen
      width: 100%;
    }
  }
}