# Webtech's StreetCats Development Compose file

name: webtech-streetcats-dev-compose

services:

  # Update this to the name of the service you want to work with in your docker-compose.yml file
  workspace:
    container_name: webtech-streetcats-DevEnv
    profiles: [dev] # This service will be started only in these profiles
    # Uncomment if you want to override the service's Dockerfile to one in the .devcontainer 
    # folder. Note that the path of the Dockerfile and context is relative to the *primary* 
    # docker-compose.yml file (the first in the devcontainer.json "dockerComposeFile"
    # array). The sample below assumes your primary file is in the root of your project.
    #
    build:
      context: .
      dockerfile: Dockerfile

    # List of the ports to be forwarded from the container (necessary if not using the "host" network)
    ports: # Maps <hostPort>:<containerPort>
      - ${DEV_BACKEND_PORT:-55511}:3000 # Port used to access backend app (development mode). Default: 55511
      - ${DEV_FRONTEND_PORT:-55512}:4200 # Port used to access frontend app (development mode). Default: 55512
      - ${DEV_KARMA_PORT:-55513}:9876 # Port used to access frontend Karma's tests report (development mode). Default: 55513
      - ${DEV_PLAYWRIGHT_PORT:-55514}:9323 # Port used to access frontend Playwright's tests report. Default: 55514

    environment: # Defines the environment variables
      JWT_SECRET_TOKEN: ${JWT_SECRET_TOKEN} # JWT Secret for token generation
      DB_NAME: ${DB_NAME:-backend} # default: backend
      DB_USER: ${DB_USER:-tecweb-admin} # default: tecweb-admin
      DB_PASSWORD: ${DB_PASSWORD:-admin} # default: admin
      SONAR_TOKEN: ${SONAR_TOKEN} # Token used to authenticate with SonarQube
      SONAR_HOST_URL: ${SONAR_HOST_URL} # URL of the SonarQube server
      BACKEND_ADDRESS: ${BACKEND_ADDRESS:-localhost} # The address from the user browser
      BACKEND_PORT: ${DEV_BACKEND_PORT:-55511} # The port from the user browser
      FRONTEND_ADDRESS: ${FRONTEND_ADDRESS:-localhost} # The address from the user browser
      FRONTEND_PORT: ${DEV_FRONTEND_PORT:-55512} # The port from the user browser

    volumes:
      # Update this to wherever you want VS Code to mount the folder of your project
      - ..:/workspaces/webtech-streetcats:cached

    networks:
      - backend-network
      - frontend-network

    # Uncomment the next four lines if you will use a ptrace-based debugger like C++, Go, and Rust.
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

  # Doc: https://github.com/dbeaver/cloudbeaver/
  cloudbeaver:
    container_name: cloudbeaver
    profiles: [dev] # This service will be started only in these profiles
    image: dbeaver/cloudbeaver:latest
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    environment: # Defines the environment variables
      CB_SERVER_NAME: "CloudBeaver CE Server"
      CB_SERVER_URL: http://cloudbeaver:8978/
      CB_ADMIN_NAME: ${CB_ADMIN_NAME:-tecweb-admin} # default: tecweb-admin
      CB_ADMIN_PASSWORD: ${CB_ADMIN_PASSWORD:-admin} # default: admin
    ports:
      - ${DEV_CLOUDBEAVER_PORT:-55515}:8978 # default: 55515
    volumes:
      - cloudbeaver-data:/opt/cloudbeaver/workspace
      - ./config/cloudbeaver/data-sources-dev.json:/opt/cloudbeaver/workspace/GlobalConfiguration/.dbeaver/data-sources-dev.json:ro
    networks:
      - backend-network
      - frontend-network

volumes:
  cloudbeaver-data:

networks:
  sonarqube-network:
    # Uncomment the following two lines if you want to scan the project with SonarQube
    # external: true
    # name: it-useful-compose_sonarqube-pgadmin_sonarqubeNetwork