# Webtech's StreetCats Backend Compose file

name: webtech-streetcats-backend-compose

services:

  backend:
    container_name: webtech-streetcats-backend
    profiles: [prod] # This service will be started only in these profiles
    build:
      context: ../source-code/backend
      dockerfile: Dockerfile
    depends_on:
      database:
        condition: service_healthy # The backend will not be started until the condition defined by "healthcheck" is verified
    restart: unless-stopped
    ports: # Maps <hostPort>:<containerPort>
      - ${PROD_BACKEND_PORT:-55501}:3000 # Port used to access backend app (production mode). Default: 55501
    environment: # Defines the environment variables
      JWT_SECRET_TOKEN: ${JWT_SECRET_TOKEN} # JWT Secret for token generation
      DB_NAME: ${DB_NAME:-backend} # default: backend
      DB_USER: ${DB_USER:-tecweb-admin} # default: tecweb-admin
      DB_PASSWORD: ${DB_PASSWORD:-admin} # default: admin
      FRONTEND_ADDRESS: ${FRONTEND_ADDRESS:-localhost} # The address from the user browser
      FRONTEND_PORT: ${PROD_FRONTEND_PORT:-55502} # The port from the user browser
    networks:
      - backend-network

  database:
    container_name: webtech-streetcats-postgresDB
    profiles: [prod, dev] # This service will be started only in these profiles
    image: postgres:17.5 # Ready-made Postgres image
    restart: unless-stopped
    environment: # Defines the environment variables
      POSTGRES_DB: ${DB_NAME:-backend} # default: backend
      POSTGRES_USER: ${DB_USER:-tecweb-admin} # default: tecweb-admin
      POSTGRES_PASSWORD: ${DB_PASSWORD:-admin} # default: admin
    healthcheck: # Defines the "healthcheck" condition
      test: ["CMD", "pg_isready", "-U", "tecweb-admin", "-d", "backend"]
      interval: 15s
      timeout: 15s
      retries: 5
    volumes:
      - database-data:/var/lib/postgresql/data
    networks:
      - backend-network

volumes:
  database-data:

networks:
  backend-network: